body {
    background-color: #cad2c5;
    color: black;
    font-family: "Roboto Slab", serif;;
}

header {
    background-color: #84a98c;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
}

main {
    background-color: #ebebeb;
    border-radius: 20px;
    padding: 10px;
    max-width: 70%;
    margin: auto;
}

h1, h2 {
    color: #000000;
}
footer {
    background-color: #84a98c;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
}

a {
    color: #2b59c3;
    text-decoration: none;
    font-weight: bold;
}

.survey-fieldset {
    display: flex;
    flex-direction: column;
    border: 2px solid #84a98c;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.survey-fieldset div {
    padding: 5px;
}

.survey-fieldset input[type="text"], .survey-fieldset input[type="email"], .survey-fieldset input[type="textarea"] {
    inline-size: 100%;
}

.survey-fieldset textarea {
    inline-size: 100%;
    height: 100px;
}
.survey-fieldset button[type="submit"] {
    padding: 10px 20px;
    background-color: #84a98c;
    color: white;
    border: none;
    border-radius: 5px;
}



