<footer>
    <div class="validation-buttons">
        <a class="val-btn" href="https://validator.w3.org/check?uri=referer" target="_blank">HTML Validator</a>
        <a class="val-btn" href="https://jigsaw.w3.org/css-validator/validator?uri=referer" target="_blank">CSS Validator</a>
        <a class="val-btn" href="https://wave.webaim.org/" target="_blank">WCAG / Accessibility</a>
    </div>
    <p style="display: flex; justify-content: center; flex-wrap: wrap; gap: 10px; margin: 0;">
        <span id="footer-id">Copyright 2026 &copy; | Designed by <a href="randybrowndesigns.com/index.html" target="_blank">Randy Brown Designs</a></span>
        &nbsp;|&nbsp;
        <a href="https://www.linkedin.com/in/randybrowna/" target="_blank">LinkedIn</a>
    </p>
</footer>
