<footer>
    <a href="https://github.com/RandyA-B" target="_blank">GitHub</a> |
    <a href="https://github.com/RandyA-B/RandyA-B.github.io" target="_blank">GitHub.io</a> |
    <a href="https://webpages.charlotte.edu/rbrow214/" target="_blank">CLT Website</a> |
    <a href="https://RandyA-B.github.io" target="_blank">GitHub Pages</a> |
    <a href="https://www.freecodecamp.org/randyb_panther" target="_blank">freeCodeCamp</a> |
    <a href="https://www.linkedin.com/in/randybrowna/" target="_blank">LinkedIn</a>
    <p style="display: flex; justify-content: center;">
        <span id="footer-id">Copyright 2026 © | Designed by <a href="randybrowndesigns.com\index.html" target="_blank">Randy Brown Designs</a></span> &nbsp;|&nbsp;
        <span>Certified in <a href="https://itis3135-react-coral-beta.vercel.app/" target="_blank">Responsive Web Design</a></span>
    </p>
</footer>