<header>
  <h1>Randy Brown's Poised Panther | ITIS3135</h1>
  <nav>
    <a href="index.html">Home</a> |
    <a href="contract.html">Contract</a> |
    <a href="website_evaluations.html">Site-Evals</a> |
    <a href="survey.html">Survey</a> |
    <a href="cards.html">Cards</a> |
    <a href="inventory.html">Inventory</a> |
    <a href="documentation.html">Documentation</a> |
    <a href="product.html">Product</a> |
    <a href="highlight.html">Highlight</a> |
    <a href="intro_form.html">Intro Form</a> |
    <a href="project_overview.html">Project Overview</a>
  </nav>
  <nav>
    <a href="stuff/CRAPpyWeb-page.htm">CRAPpyWeb-page</a> | 
    <a href="hobby/index.html">Hobby site</a>
  </nav>
</header>