body {
    background-color: #c6d8ff;
    color: #6b5ca5;
    font-family: "Blinker", sans-serif;

}

header {
    background-color: #4a47a3;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
    color: white;
}

main {
    background-color: #C4F5FC;
    margin: 30px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    color: #6bffb8;
    font-size: 30px;
}

footer {
    background-color: #4a47a3;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
    color: white;
}

a {
    color: #6bffb8;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

p {
    line-height: 1.6;
}

img {
    border-radius: 15px;
}

#wel {
    color: #6b5ca5;
    font-size: 1.5em;
}


/* intro section */



#intro-id {
    color: #6b5ca5;
    font-size: 1.5em;
}







